#Ignore Java dependencies

backend/personal_finance_api/target/
backend/personal_finance_api/.mvn/
*.class
*.log

#Ignore Node.js dependencies
frontend/node_modules/
frontend/build/

#Ignore environment variables
.env
#backend/personal_finance_api/src/main/resources/application.properties

# IntelliJ / VS Code settings
.idea/
.vscode/
